@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');

* {
    font-family: 'Kanit', sans-serif;
}
body {
    background-color: #F9F6FF;
    margin: 0;
    padding: 0;
}
.container {
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100%;
}
#wallet-name {
    position: relative;
    left: 43%;
    top: 48%;
    font-weight: 700;
}
#page-title {
    font-size: 36px;
    color: rgba(0, 0, 0, 1);
}
#sub-page-title {
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
}
#page-title, #sub-page-title {
    position: relative;
    top: 156px;
    left: 40%;
}
input[type="text"] {
    background-color: #2d2d2d;
    background-blend-mode: normal;
    width: 303px;
    height: 48px;
    border-radius: 10px;
    color: #ffffff;
    padding-left: 15px;
    border: none;
}
input[type="password"] {
    background-color: #2d2d2d;
    background-blend-mode: normal;
    width: 303px;
    height: 48px;
    border-radius: 10px;
    color: #ffffff;
    padding-left: 15px;
    margin-top: 10px;
    border: none;
}
input[type="submit"] {
    background-color: #5315bf;
    background-blend-mode: normal;
    width: 320px;
    height: 48px;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    padding-left: 15px;
    margin-top: 50px;
    border: none;
}
.login-form {
    position: relative;
    margin-left: 10%;
    top: 300px;
}
.nav {
    position: relative;
    width: 100%;
    background-color: #2d2d2d;
    height: 266px;
}
.quit {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.balance {
    position: relative;
    top: 79px;
    width: 100%;
    text-align: center;
}
#balance {
    width: 148px;
    height: 54px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
}
.action-btn {
    position: relative;
    text-align: center;
    top: 127px;
}
.action-btn a {
    text-decoration: none;
    width: 60px;
    height: 60px;
    background-color: rgba(71, 71, 71, 1);
    padding: 10px;
    border-radius: 90px;
    text-align: center;
    mix-blend-mode: normal;
    margin: 5px;
    padding-top: 20px;
}
.action-btn a img {
    position: relative;
    top: 5px;
}
.navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 71px;
    background-color: #2d2d2d;
    width: 100%;
    display: flex;
    text-align: center;
}
#send-tnx {
    color: rgba(255, 56, 56, 1);
}
.tnx {
    position: absolute;
    top: 266;
    width: 98%;
}
.list-tnx {
    position: relative;
}
.body-tnx {
    position: relative;
    color: rgba(45, 45, 45, 1);
    left: 15px;
}
table {
    height: 91px;
    background-color: #2d2d2d;
    width: 100%;
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgba(249, 246, 255, 1);
    box-shadow:  0px 2px 4px 0px rgba(100, 100, 100, 0.498)
}
.first {
    float: left;
    padding-top: 10px;
}
.last {
    float: right;
    text-align: right;
}
.first, .last {
    padding-left: 10px;
    padding-right: 10px;
}
#recieve-tnx {
    color: rgba(3, 136, 3, 1);
}
.active1 {
    position: relative;
    width: 13px;
    height: 3px;
    border-radius: 33px;
    background: #db00f3;
    background-blend-mode: normal;
    margin-left: 8px;
    left: 46%;
}
li {
    text-decoration: none;
    list-style: none;
}
ul {
    align-items: center;
}
.icon1, .icon2, .icon3 {
    position: relative;
    width: 33.3%;
}
.title  {
    position: absolute;
    width: 98%;
    text-align: center;
    background-blend-mode: normal;
    top: 100px;
}
.send-page-img {
    position: relative;
    background: #2d2d2d;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    left: 45%;
    border-radius: 90px;
}
.send-page-img img {
    padding-top: 20px;
}
.send-page-title {
    position: relative;
    font-size: 24px;
}
#wallet-copy {
    margin-left: 70px;
    margin-top: 10px;
}
.scan {
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 20px;
    width: 250px;
    margin-top: 50px;
}
.space {
    position: relative;
    height: 80px;
    margin-top: 320px;
}
.big-btn {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
}
.logout, .explorer {
    width: 155px;
    height: 155x;
    background-color: #2d2d2d;
    color: #ffffff;
    margin: 10px;
    font-size: 24px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}
.social {
    position: relative;
    text-align: center;
    align-items: center;
    left: 30px;
}
.tab1, .tab2 {
    position: relative;
    display: flex;
    align-items: center;
}
.media {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 60px;
    height: 60px;
    background-color: #2d2d2d;
}
.media img {
    padding-top: 10px;
}
.about {
    text-align: center;
    font-size: 14px;
}
